
@{
    ViewBag.Title = "Agregar";
}

@section JS {
    <script src="~/Content/js/Agregar.js"></script>
}

<div class="row" id="menuFiltros">

    <form class="col s12  pink darken-4 z-depth-2">
        <div class="row">
            <div class="input-field col s2">
                <input id="txtNombre1" type="text">
                <label for="txtNombre1">Nombre 1</label>
            </div>
            <div class="input-field col s2">
                <input id="txtNombre2" type="text">
                <label for="txtNombre2">Nombre 2</label>
            </div>
            <div class="input-field col s2">
                <input id="txtApellido1" type="text">
                <label for="txtApellido1">Apellido 1</label>
            </div>
            <div class="input-field col s2">
                <input id="txtApellido2" type="text">
                <label for="txtApellido2">Apellido 2</label>
            </div>
            <div class="input-field col s2">
                <input id="txtApellidoC" type="text">
                <label for="txtApellidoC">Apellido Casada</label>
            </div>
            <div class="input-field col s2">
                <input id="txtDireccion" type="text">
                <label for="txtDireccion">Direccion</label>
            </div>
            <div class="input-field col s2">
                <input id="txtTelefono1" type="text">
                <label for="txtTelefono1">Telefono 1</label>
            </div>
            <div class="input-field col s2">
                <input id="txtTelefono2" type="text">
                <label for="txtTelefono2">Telefono 2</label>
            </div>
            <div class="input-field col s2">
                <input id="txtDPI" type="text">
                <label for="txtDPI">DPI</label>
            </div>
            <div class="input-field col s2">
                <input id="txtFecha" type="text">
                <label for="txtFecha">Fecha Nac. mm/dd/aaaa</label>
            </div>


            <div class="input-field col s1" style="margin-top:20px;">
                <a class="waves-effect waves-light btn-flat" style="border:1px solid white;color:white;" id="btnLimpiar">Limpiar</a>
            </div>
            <div class="input-field col s2 right-align offset-s1" style="margin-top:20px;">
                <a class="waves-effect waves-light btn-flat green accent-4" style="border:1px solid white;color:white;font-weight:bold;" id="btnNuevo"><i class="material-icons left">add_box</i>Nuevo</a>
            </div>
        </div>
    </form>

</div>

