
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>

    <link rel="shortcut icon" type="image/ico" href="~/Login/Login.png">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TITLE -->
    <title>Control De Clientes</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/css/materialize.min.css" rel="stylesheet">


</head>
<body>
    <!-- HEADER -->
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Control Clientes</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                </ul>
            </div>
        </nav>
    </header>

    <!-- BODY -->
    <main>
        <center>
            <br />
            <div><a class="waves-effect waves-light btn" href="~/Home/Agregar">Agregar</a></div>
            <br />
            <div><a class="waves-effect waves-light btn">Eliminar</a></div>
            <br />
            <div><a class="waves-effect waves-light btn">Actualizar</a></div>
            <br />
            <div><a class="waves-effect waves-light btn" href="~/Home/Tabla">Consulta</a></div>
        </center>
    </main>

    <!-- FOOTER -->

    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/materialize.min.js"></script>

    <!-- JAVASCRIPT -->


</body>
</html>