#Cases {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #Cases td, #cases th {
        border: 1px solid #ddd;
        padding: 8px;
    }

#resulttable tr:nth-child(even) {
    background-color: #f2f2f2
}

#resulttable tr.selectedRow {
    background-color: #56bff0
}

#resulttable tr:hover {
    background-color: #ddd;
}

#resulttable tr {
    cursor: pointer
}

#resulttable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #455382;
    color: white;
}
